body {
    position: relative;
    margin: 40px;
    padding: 0;
  }

  header {
    position: relative; 
    top: 0;
    width: 100%;
    height: 100px; 
    background-color: darkgreen;
      border-bottom: 10px solid tan;

  }
  
  a {
      position: relative;
      color: white;
    

  }

  .link1 {
      left: 800px;
      top: 80px;
  }

  .link2 {
      left: 850px;
      top: 80px;
  }

  .link3 {
      left: 900px;
      top: 80px;
  }

  h1 {
      font-size: 50px;
      margin-top: 0px;
      text-align: center;
  }

  .main-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  h2 {
      text-align: center;
  }

  footer {
    position: relative;
    bottom: 0;
    height: 250px;
    width: 100%;  
    background-color: tan;
    border-bottom: 50px solid darkgreen;
    
  }

  h3 {
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
  }

#box1 {
    position: relative;
    width:400px;
	height:150px;
	padding:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border-style: solid;
    border-color: brown;    
    z-index: 1;
    top: -38px;
}